<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.itcast.local"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="cn.itcast.local.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name="cn.itcast.local.ShengZF">
            <intent-filter android:priority="1000">
                <action android:name="cn.itcast.fdm"/>
            </intent-filter>
        </receiver>
        <receiver android:name="cn.itcast.local.ShiZF">
            <intent-filter android:priority="800">
                <action android:name="cn.itcast.fdm"/>
            </intent-filter>
        </receiver>
        <receiver android:name="cn.itcast.local.XianZF">
            <intent-filter android:priority="600">
                <action android:name="cn.itcast.fdm"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>